*.mp3
*.wav
*.png
*.jpeg
*.pyc
*.txt
__pycache__
.venv
.pylintrc
.coverage
.coverage.*
coverage.xml
.vscode
.pytest_cache
htmlcov*

assets/img/*.png
assets/img/*.jpg
assets/map/*.png
assets/music/*.mp3
assets/sfx/*.wav
assets/dice/*.json